<div>
    <sly-card title="Step1. Define path to .CSV file"
              subtitle="Upload CSV file to Files and provide its path (read instructions for more details)"
              style="margin-bottom: 15px;">
        <sly-field title="Path to CSV file" description="Copy Path from file context menu and paste it here.
        Be sure that first line is columns (it is a hard requirement).">
            <el-input placeholder="Please input CSV path" v-model="state.csvPath"></el-input>
        </sly-field>

        <el-button type="text" @click="command('preview_csv')"><i class="zmdi zmdi-refresh"></i> Preview</el-button>
        <sly-table v-if="data.previewTable.data.length > 0 && data.csvDownloadError.length === 0 "
                   :content="data.previewTable">
        </sly-table>
        <div style="color: red"><pre>{{data.csvDownloadError}}</pre><div>
    </sly-card>
</div>