<div>
    <sly-card title="Step 1. Define path to .CSV file"
              subtitle="Upload CSV file to Files. Copy Path from file context menu and paste it here.
        Be sure that first line is columns (it is a hard requirement). Read app's instructions for more details)"
              style="margin-bottom: 15px;">
        <el-input placeholder="Please input CSV path" v-model="state.csvPath"></el-input>
        <el-button type="text" @click="command('preview_csv')"><i class="zmdi zmdi-refresh"></i> Preview</el-button>
        <sly-table v-if="data.previewTable.data.length > 0 && data.csvDownloadError.length === 0 "
                   :content="data.previewTable">
        </sly-table>
        <div style="color: red">
            <pre>{{data.csvDownloadError}}</pre>
        </div>
    </sly-card>

    <sly-card title="Step 2. Read CSV structure" subtitle="define how to interpret columns" style="margin-bottom: 15px;">
        <div>
            URL column:
            <el-select v-model="state.urlColumn" placeholder="Select">
                <el-option v-for="item in data.previewTable.columns" :key="item" :label="item" :value="item">
                </el-option>
            </el-select>
        </div>
        <div class="mt15">
            Other columns:
            <el-select v-model="state.otherColumnsAction" placeholder="Select">
                <el-option v-for="item in data.otherColumnsActions" :key="item" :label="item" :value="item">
                </el-option>
            </el-select>
        </div>
    </sly-card>

    <sly-card title="Step 3. Google Cloud Platform credentials"
              subtitle="put path to credentials file" style="margin-bottom: 15px;">
        <el-input placeholder="path" v-model="state.credsPath"></el-input>
        <el-button type="text" @click="command('validate_creds');">
            <i class="zmdi zmdi-refresh"></i> Validate credentials
        </el-button>
        <img v-if="data.previewImageUrl && data.credError.length === 0" :src="data.previewImageUrl" style="max-height: 500px;">
        <div style="color: red" v-if="data.credError.length > 0">{{data.credError}}</div>
    </sly-card>
</div>